{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}
photo List
{% endblock %}
{% block head %}
    {{ block.super }}
    
{% endblock %}   
{% block content %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/contact-header.jpg');">
            <div class="container position-relative d-flex flex-column align-items-center">
                <h2>photo Category List</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>photo List</li>
                </ol>
            </div>
        </div><!-- End Breadcrumbs -->
         
      
        <!-- ======= photo Section ======= -->
        <section>
            {% url 'gallery:photo_category_list' as action_url %}
            {% include 'main/search.html' with action_url=action_url searchform=searchform %}
            <div class="d-flex justify-content-between mb-3">         
                <div class="col text-start text-muted">全部: {{ total_records }} 筆</div>        
                     <a href="{% url 'gallery:add_photo_category' %}" class="btn btn-primary rounded-0 bg-gradient btn-sm" id='add_new'>
                       <span aria-hidden="true">&plus;</span> 新增相片類別
                     </a>
               </div>
            </div>       
            <div class="table-responsive">
                <table class="table table-bordered table-hover shadow">
                      <thead class="bg-secondary text-white">
                        <tr>
                            <th class="align-left">ID</th>
                            <th class="align-left">Name</th>
                            <th>修改</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for photo_category in photo_categorys %}
                        <tr>
                            <td class="align-left">{{ photo_category.id }}</td>
                            <td class="align-left">{{ photo_category.name }}</td>

                            <td class="align-left">
                                <a href="/gallery/edit_photo_category/?pid={{photo_category.id}}"><img src="{% static 'images/edit.png' %}"></a>
                            </td>       
                            <td class="align-left">
                                <a href="/gallery/delete_photo_category/?pid={{photo_category.id}}"><img src="{% static 'images/del.png' %}"></a>
                            </td>                                          
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section><!-- End photo Section -->
    </main><!-- End #main -->
    {% include 'main/pagination.html' with items=photo_categorys %}
{% endblock %}