{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}
test
{% endblock %}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/contact-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>資料管理</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>新增產品</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container position-relative" data-aos="fade-up">

        <div class="row gy-4 d-flex justify-content-end">

          <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">

            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>新增產品:</h4>
                <p>注意類別別選錯</p>
              </div>
            </div><!-- End Info Item -->


          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">

            <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                <label for="" class="form-label">customer_code</label> 
                <input type="text" Required name="customer_code" value="{{ customer.customer_code }}" class="form-control" readonly>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">first_name</label> 
                <input type="text" Required name="first_name" value="{{ customer.first_name }}" class="form-control">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">last_name</label> 
                <input type="text" Required name="last_name" value="{{ customer.last_name }}" class="form-control">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">gender</label>
                <select name="gender" id="id_gender" class="form-select">
                  <option value="M" {% if customer.gender == 'M' %}selected{% endif %}>男</option>
                  <option value="F" {% if customer.gender == 'F' %}selected{% endif %}>女</option>
                  <option value="O" {% if customer.gender == 'O' %}selected{% endif %}>其他</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">cellphone</label> 
                <input type="text" Required name="cellphone" value="{{ customer.cellphone }}" class="form-control">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">birthdate</label> 
                <input type="text" Required name="birthdate" value="{{ customer.birthdate }}" class="form-control">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">address</label> 
                <input type="text" Required name="address" value="{{ customer.address }}" class="form-control">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">password</label> 
                <input type="text" Required name="password" value="{{ customer.password }}" class="form-control">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">email</label> 
                <input type="text" Required name="email" value="{{ customer.email }}" class="form-control">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">company</label> 
                <input type="text" Required name="company" value="{{ customer.company }}" class="form-control">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">job_title</label> 
                <input type="text" Required name="job_title" value="{{ customer.job_title }}" class="form-control">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">notes</label> 
                <input type="text" Required name="notes" value="{{ customer.notes }}" class="form-control">
              </div>

              
              
              
              <button type="submit" class="btn btn-warning">Update</button>
              </form>

          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock %}
 