{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Menu
{% endblock %}

{% block content %}

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
      <div class="container" data-aos="fade-up">
<br>
        <div class="section-header">
          <h2>Our Menu</h2>
          <p>Yummy123<span>美味菜單</span></p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <li>
            <h2> 
              <a href="{% url 'menu:menu' %}">全部料理</a>
            </h2> 
        </li><!-- End tab nav item -->
          {% for menu_category in menu_categories %}
          <li>
              <h2>&nbsp;&nbsp;&nbsp;
                <a href="{{ menu_category.get_absolute_url }}" {% if menu_category.is_active %}class="active"{% endif %}>
                  {{ menu_category.name }}
                </a>
              </h2> 
          </li><!-- End tab nav item -->
          {% endfor %} 

 
        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

          <div class="tab-pane fade active show" id="menu-starters">

            <div class="tab-header text-center">

            </div>

            {% if menu_items.has_other_pages %}
            <nav class="blog-pagination">
              <ul class="justify-content-center">
                {% if menu_items.has_previous %}
                  <li><a href="?page=1">First</a></li>
                  <li><a href="?page={{ menu_items.previous_page_number }}"><</a></li>
                {% endif %}
                {% for num in menu_items.paginator.page_range %}
                  {% if menu_items.number == num %}
                    <li class="active"><a href="#">{{ num }}</a></li>
                  {% elif num > menu_items.number|add:'-3' and num < menu_items.number|add:'3' %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if menu_items.has_next %}
                  <li><a href="?page={{ menu_items.next_page_number }}">></a></li>
                  <li><a href="?page={{ menu_items.paginator.num_pages }}">Last</a></li>
                {% endif %}
              </ul>
            </nav>
            {% endif %}
            <div class="row gy-5">
              {% for menu in menu_items %}
              <div class="col-lg-4 menu-item">
                <div class="menupic">
                <a href="/menu/menu_detail/?pid={{menu.id}}">
                  <img class="img-fluid" src="{% if menu.image %}{{ menu.image.url }}
                            {% else %}{% static 'img/no_image.png' %} {% endif %}">
                </a>
                </div>
                <h4>{{menu.menu_category.name}}</h4>
                <h4>{{ menu.menu_title }} <br></h4>
                <h4>
                <a href="{% url 'menu:edit_menu' menu.id %}"><img src="{% static 'images/edit.png' %}"></a>
                <a href="/menu/del_menu/?pid={{menu.id}}"><img src="{% static 'images/del.png' %}"></a>
                </h4>
                <p class="ingredients">
                  {{ menu.menu_description | slice:":30" }}
                  {% if menu.menu_description|length > 30 %}...
                  <a href="/menu/menu_detail/?pid={{menu.id}}">詳細資料 <i class="bi bi-arrow-right"></i></a>
                  {% endif %}
                </p>
                
                <p class="price">
                  ${{ menu.price }}
                </p>
              </div><!-- Menu Item -->
              {% endfor %}


            </div>

 
  
          </div><!-- End Starter Menu Content -->

          
        </div>
  

 

      </div>
    </section><!-- End Menu Section -->

{% endblock %}
