{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}
test
{% endblock %}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/assets//img/contact-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>資料管理</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>新增銷售</li>
          <li><a href="{{ request.META.HTTP_REFERER }}">回到上一頁</a></li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container position-relative" data-aos="fade-up">

        <div class="row gy-4 d-flex justify-content-end">

          <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">

            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>新增銷售:</h4>
                <p>xxxxxxxxx</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Call:</h4>
                <p>+1 5589 55488 55</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
            
            <form action="/product/add_invoice_item/" method="POST" id="product-sales-form" enctype="multipart/form-data">
              {% csrf_token %}
                 <div class="form-group">
                     <div class="form-group col-md-12">
                         {% bootstrap_form form %}
                         <input class="btn btn-success" type="submit" value="儲存" />
                      </div>
                   </div>
            </form>

          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  
{% include 'product/ajax.html' %}  


{% endblock %}