{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}
test
{% endblock %}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/contact-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>資料管理</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>新增產品</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container position-relative" data-aos="fade-up">

        <div class="row gy-4 d-flex justify-content-end">

          <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">

            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>修改類別:</h4>
                <p>注意類別別選錯</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Call:</h4>
                <p>+1 5589 55488 55</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">

            <form action="/product/save_edit_product_category/" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {% bootstrap_form form %}
              <input type="hidden"  name="pid" value="{{pid}}" />
              <input type="submit" value="Submit">
             </form>

          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock %}
 